<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuqi.cosmos.dao.CommentMapper">

  <resultMap id="BaseResultMap" type="com.jiuqi.cosmos.entity.Comment">
    <id column="cId" jdbcType="INTEGER" property="cid" />
    <id column="recipe_id" jdbcType="INTEGER" property="recipeId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="content2" jdbcType="VARCHAR" property="pContent" />
    <result column="pId" jdbcType="INTEGER" property="pid" />
    <result column="replytime" jdbcType="TIMESTAMP" property="replytime" />
    <result column="top_id" jdbcType="INTEGER" property="topId" />
    <result column="p_userId"  jdbcType="INTEGER" property="pUserId" />
    <result column="replytime2"  jdbcType="INTEGER" property="pReplytime" />
    
    
    
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from tb_com
    where cId = #{cid,jdbcType=INTEGER}
      and recipe_id = #{recipeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jiuqi.cosmos.entity.Comment">
    insert into tb_com (cId, recipe_id, user_id, content, pId, replytime, top_id)
    values (#{cid,jdbcType=INTEGER}, #{recipeId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, now(), #{topId,jdbcType=INTEGER})
  </insert>
   
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select cId, recipe_id, user_id, content, pId, replytime, top_id
    from tb_com
    where cId = #{cid,jdbcType=INTEGER}
      and recipe_id = #{recipeId,jdbcType=INTEGER}
  </select>
  <select id="selectFirstLevel" resultMap="BaseResultMap"  parameterType="java.lang.Integer" >
    SELECT
		cId,
		recipe_id,
		c.user_id,
		u.headimg,
		u.nickname,
		content,
		pId,
		replytime,
		top_id
	FROM
		tb_com as c 
	JOIN tb_user  as u on c.user_id = u.user_id
	WHERE
		pId = 0
	AND recipe_id = #{recipeId,jdbcType=INTEGER}
	ORDER BY
		replytime DESC
  </select>
  <select id="selectSecondLevel" resultMap="BaseResultMap"  parameterType="java.lang.Integer" >
	  SELECT
		  	cId,
			recipe_id,
			c.user_id,
			u.headimg,
			u.nickname,
			content,
			pId,
			replytime,
			top_id
		FROM
			tb_com c
		JOIN tb_user  as u on c.user_id = u.user_id
		WHERE
			 pId = #{commentId,jdbcType=INTEGER} and recipe_id =  #{recipeId,jdbcType=INTEGER}
		ORDER BY
			replytime DESC
	
  </select>
  
   <!-- <select id="selectSecondLevel" resultMap="BaseResultMap" parameterType="com.jiuqi.cosmos.pojo.AidInfo">
	    select c.cId, c.recipe_id, c.user_id, c.content, c.pId, c.replytime, c.top_id,
	    c2.user_id as p_userId, c2.replytime as replytime2, c2.content as content2  
	    from tb_com as c left join tb_com as c2 on c.pId = c2.cId
	    where  recipe_id =  #{recipeId,jdbcType=INTEGER}
	    <if test="firstCIdList != null" >
        and c.top_id in
        <foreach collection="firstCIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
       </if>
	    order by replytime desc limit 0,10
  </select> -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</mapper>